<ion-modal-view>
<ion-header-bar class="bar-stable">
<button ng-click="sortClose()" class="button back-button button-icon button-clear header-item ion-android-arrow-back"></button>
<h1 class="title ">Détails de la commande</h1>
</ion-header-bar>
<ion-content>
	<!-- <ion-list >
	   <ion-radio ng-model="sortProductBy" ng-value="'{{sObj.val}}'" ng-click="setProductSort(sObj.val);" ng-repeat="sObj in sortOptions">{{sObj.name}}<label></label></ion-radio>
  </ion-list> -->

					<div class="list products" ng-repeat="tmpObj in customerHistory">
						<div class="item item-thumbnail-left"  ng-click="btnHistoryOrder(tmpObj.id);">
						  <!-- <img image-lazy-src="http://kenndiweni-001-site3.atempurl.com/img/{{tmpObj.imageLink!=null ? tmpObj.imageLink : 'download (4).jpg' }}" ng-click="showProductDetail(tmpObj.id);" image-lazy-loader="spiral" image-lazy-distance-from-bottom-to-load="-10"> -->
						  <h2>Heures De livraison : {{tmpObj.time | lowercase}}</h2>
              <h3>Date de commande: {{tmpObj.created_at | lowercase}}</h3>
              <h3>Adresse De Livraison: {{tmpObj.address | lowercase}}</h3>
              <h3>Quantité d'achat: {{tmpObj.purchaseQuatity | lowercase}}</h3>
						  <!-- <h3 ng-if="tmpObj.weight">Weight : {{tmpObj.weight | number:2}} {{tmpObj.weight_class | lowercase}}</h3> -->
              <h3>Total : {{tmpObj.total}}</h3>
              <h3>Reference Number: {{tmpObj.orderReference}}</h3>
              <h3 ng-if= "tmpObj.isorderDeliver == 1">Statut de la commande: Votre commande a été livrée</h3>
							<div class="row">
								<div class="col col-40" >
									<!-- <span class="price" ng-bind-html="tmpObj.price"></span> -->
									<!-- <span class="saleprice" id="sprice_{{tmpObj.id}}" ng-bind-html="tmpObj.price"></span> -->
								</div>
							<!-- <div class="col col-60" >

									<ul ng-if="tmpObj.outOfStock !=0" id="cartbtn_{{tmpObj.id}}" class='tg-list'>
									<li class='tg-list-item'>
										<input class='tgl tgl-flip' id='cb{{tmpObj.id}}' checked ng-if="selectId==tmpObj.id"  type='checkbox' >
										<input class='tgl tgl-flip' id='cb{{tmpObj.id}}' ng-if="selectId!=tmpObj.id"   ng-click="AddToCart(tmpObj)" type='checkbox' >
										<label class='tgl-btn' data-tg-off='Add' data-tg-on='Done' for='cb{{tmpObj.id}}'></label>
									</li>
									</ul>
									<div ng-show="tmpObj.outOfStock !=0" id="nostock_{{tmpObj.id}}"  class="outofStock">Not In Stock</div>
							</div> -->
							</div>
						</div>
					 </div>

</ion-content>
</ion-modal-view>
